*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.border:hover{
    border:1px solid white;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-logo{
    /* width: 105px; */
    width: 6.5rem;
    height: 50px;
    background-image: url('./images/Amazon_logo.png');
    /* background-size: cover; */
    padding:1px 8px 0px 6px;
}
.navbar-address{
    color:white;
    height: 50px;
    padding: 0px 9px;
    margin:5px 2px;
    display: flex;
    align-items: center;
}
.navbar-location-logo{
    display: flex;
    align-items: center;
}
.deliver{
    font-size: 12px;
    color:#cccccc;
}
.navbar-address-text{
    display: flex;
    flex-direction: column;
    margin-left:0.3rem;
}
.india{
    font-size: 14px;
    color:#ffffff;
    font-weight:bold;
}
.navbar-search{
    display: flex;
    /* border: 1px solid orange; */
    height: 40px;
    width: 700px;
    align-items: center;
}
.navbar-allsection select{
    background-color: #e6e6e6;
    width: 50px;
    height: 40px;
    color: #0f1111;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
}
.navbar-searcharea{
    background-color: #ffffff;
    width: 100%;
    height: 40px;
    border: none;
    padding: 5px;
    outline: none;
}
.navbar-searchicon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-lang{
    width: 50px;
    height: 40px;
    padding-top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-en{
    color:white;
    font-size: 14px;
    font-weight: 700;
    margin-left:3px;
}
.nav-sort{
    margin-left:2px;
    color:#cccccc
}

.nav-signin{
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    padding:7px 9px 10px;
    /* padding-top:10px */
}
.nav-hello{
    font-size: 12px;
    color:#ffffff
}
.nav-account{
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
.nav-cart{
    width: 85px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.second-panel{
    height: 40px;
    background-color: #0f1111;
    opacity: 0.95;
    display: flex;
    align-items: center;
}
.second-nav-menu{
    width: 58px;
    display: flex ;
    align-items: center;
    justify-content: space-around;
    padding:5px;
}
.menu-all{
    color: #ffffff;
    padding:0px 0px 0px 5px;
    font-size: 14px;
    font-weight: 600;
}
.second-todaydeals{
    display: flex;
    justify-content: space-evenly;
}
.today{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 9px;
    margin:0px 6px;
}
.hero-section{
    height: 600px;
    background-image: url('./images/carousel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
}
.hero-text{
    width: 95%;
    height:40px;
    background-color: #f5f6f6;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25rem;
    border-radius: 10px;
}
.hero-para{
    width: 960px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eight-boxes{
    height: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: rgb(204, 204, 204,0.3);
    margin-top:-13rem;
    padding:20px 0px;
}
.box{
    width: 23%;
    height: 450px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column; 
    padding:10px 15px;
    background-color: #ffffff;
}
/*--------------------------------------*/
.box1-first{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    gap: 10px;
}
.box1-set{
    width: 50%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    padding:1rem 0px;

}
.box1-second-set{
    width: 50%;
    height: 100%;
    background-color: blue;
}

.allbox-images{
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%; 
}
.box2-image{
    background-image: url('./images/box-2-1.jpg');
    height: 100%;
    margin:10px 0px;
}
.box1-text{
    font-size: 12px;
    color: #0f1111;
}
.box-text{
    font-size: 13px;
    color: #2162A1;
    padding:20px 0px 15px 0px;
}
.box4-to-8-image{
    height: 100%;
    margin:10px 0px;
    background-size: cover;
    background-position: center;
}
.top-picks{
    height: 280px;
    display: flex;
   justify-content: center;
   background-color: rgb(204, 204, 204, 0.3);

}
.top-picks-content{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-start;
    width:95%;
    background-color: white;  
    overflow-x: auto;   
    padding:10px 20px;
}
.top-picks-heading{
    font-size: 21px;
}
.top-picks-all-images {
    display: flex;
    gap: 10px;
    padding:10px 0px 0px 0px;  
}

.top-picks-images {
    height: 200px; /* Fixed height */
    width: auto; /* Let the width be based on the image */
    background-size: auto 200px; /* Keep original width, scale height */
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; /* Ensure width adapts to content */
}
.personalized-content{
    padding:20px 10px;
}

.personalized{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:30px 0px;
}
.personalized-h2{
    font-size: 24px;
    color:#000000
}
.personalized-a{
    text-decoration: none;
    padding:8px 80px ;
    background-color: rgba(250, 147, 4, 0.834);
    border-radius: 15px;
    color: #0f1111;
    font-size: 13px;
    margin-top:1rem;
}
.personalized-p{
    font-size: 11px;
    color:#000000;
    margin-top:0.2rem;
}
.footer{
    height:625px;
    background-color:#232f3e;
}
.back-to-top{
    height: 50px;
    background-color:rgba(245, 245, 245, 0.1);
    /* opacity: 0.5; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-to-top a{
    text-decoration: none;
    font-size: 13px;
    color:#ffffff;
}
.footer-content{
    height: 360px;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px 0px 0px;
}
.footer-ul-content{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
   
}
.unorderlist{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.unorderlist p{
    font-size: 16px;
    padding-bottom: 14px;
    font-weight: 700;
    color: #ffffff;
}
.unorderlist li{
    list-style-type: none;
    color: #DDDDDD;
    font-size: 14px;
}
.footer-third-section{
    height: 70px;
    
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(249, 228, 228,0.4);
    padding:50px;
    border-bottom: 1px solid rgb(249, 228, 228,0.4);
}
.footer-third-content{
    /* background-color: pink; */
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-logo-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.footer-logo-content p{
    padding:10px 20px;
    border:1px solid white;
    color: #cccccc;
    font-size: 13px;
}
.copyrights{
    background-color: #131a22;
    height: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}
.copyright-content{
    display: flex;
    gap: 40px;
}
.copyright-content p,.copyright-end{
    font-size: 12px;
    color:#DDDDDD;
}